
@font-face {
    font-family: "Misa-Bold";
    src: url('../assets/fonts/notosans-bold.3ede5aff.woff2');
}
@font-face {
    font-family: "Misa-Italic";
    src: url('../assets/fonts/notosans-italic.1c1aaac9.woff2');
}
@font-face {
    font-family: "Misa-Regular";
    src: url('../assets/fonts/notosans-regular.2cb88a13.woff2');
}
@font-face {
    font-family: "Misa-SemiBold";
    src: url('../assets/fonts/notosans-semibold.df3e6dc4.woff2');
}