.page-item{
    /* border: 1px solid #ccc; */
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-color-black{
    color: #000;
}
.text-color-black:hover{
    text-decoration: none;
    color: #ccc;
}
.active{
    border: 1px solid #ccc;  
}
.page-pre, .page-next{
    margin: 0 16px;
}
.disabled .text-color-black{
    color: #ccc;
}
